html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

svg {
    margin: 0 auto;
}

/* network graph */
circle {
    stroke: #fff;
    stroke-width: 0.5;
    }
    
    .node:hover {
    stroke: black;
    stroke-width: 0.8;
    }
    
    .link {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 0.1;
    }
    
    text {
    cursor: move;
    font-size: 12px;
    font-family: monospace;
    text-shadow: 1px 1px 2px black;
    }
    
    .tooltip {
    position: absolute !important;
    display: block !important;
    font-family: monospace;
    background: white !important;
    color: black;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
    }
    
    .clear {
        clear: both;
    }